/* ------------------------------------------------
----------------Tablet device----------------------
--------------------------------------------------- */


@media screen and (min-width:768px) and (max-width:991px) {

    .company {

        display: none;
    }

    .mobile {
        display: none;
    }



}

/* ------------------------------------------------
----------------Mobile device----------------------
--------------------------------------------------- */


@media screen and (max-width:767px) {

    .company {
        display: none;
    }

    .course {
        display: none;
    }
}

/* ------------------------------------------------
----------------For large device----------------------
--------------------------------------------------- */
@media screen and (min-width:992px) {


    .mobile {
        display: none;
    }



}